.account-message{
    color: #fff;
    font-size: 40px;
}

.account-message2{
    color: #fff;
    font-size: 20px;
    border-bottom: double 4px #fff;
}

.account-message3{
    color: #fff;
    font-size: 30px;
}

.account-back{
    place-items: center;
    margin-top: 12vh;
}

.account-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 400px;
    border-radius: 1.25rem;
    background-color: rgba(33, 4, 4, 0.562);
    text-align: center;
    border: 5px solid #333;
}

.account-card:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

@media (width >= 500PX){
    .account-card{
        margin: 0;
        width: 650px;
        height: 550px;
    }
}



.account-error-back{
    place-items: center;
    margin-top: 12vh;
}

.account-error-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background-color: rgba(33, 4, 4, 0.562);
    text-align: center;
    border: 5px solid #333;
}

.account-error-card:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

@media (width >= 500PX){
    .account-error-card{
        margin: 0;
        width: 400px;
        height: 250px;
    }
}