

/* Car detail container */
.car_detail_tail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

/* Card container for car details */
.car_detail_card {
    background-color: #1f1f1f; /* Darker background for the card */
    padding: 30px;
    border-radius: 10px;
    width: 70%; /* Adjust width for better responsiveness */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


/* Car information styling */
.car-info {
    color: #e0e0e0; /* Light text for car details */
    padding: 10px;
}

/* Car name styling */
.car-name h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}







/* 親要素を中央揃えにする設定 */
.purchase {
    display: flex; /* フレックスボックスを有効化 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ボタン自体のスタイル */
.purchase input[type="submit"] {
    display: block;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 20px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: transform 0.2s ease, background-color 0.3s ease; /* アニメーションを設定*/
}

.purchase input[type="submit"]:hover {
    transform: scale(1.1); /* サイズを10%拡大 */
}



.car-detail{
    display: inline-block;
}


.car-syousai {
    margin: 8px 0;
    font-size: 16px;
    color: white;
    text-align: left;
    font-size: 22px;
}

/* Additional styling for responsive design */
@media (max-width: 768px) {
    .car_detail_card {
        width: 90%;
        padding: 20px;
    }

    .slider-item {
        height: 200px;
    }

    .car-name h2 {
        font-size: 24px;
    }

    .car-price h3 {
        font-size: 22px;
    }
}
