*{
    box-sizing: border-box;
}
.card{
    place-items: center;
    margin-top: 12vh;
}

.card-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background-color: rgba(33, 4, 4, 0.562);
    text-align: center;
    border: 5px solid #333;
} 

.card-card:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

.card-card h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
    color: #fff;
}

.card-card h3{    
    color: rgba(0,0,0,0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: lrem;
}
.card-form{
    width: 100%;
    margin: 0;
    margin-top: 30px;
    display: grid;
    gap: 16px;
    margin-top: 20px;
}
.card-button{
    width: 65%;
    height: 40px;
}
.card-form input{
    border: 2px solid #333;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}
.card-form input:hover{
    border: 2px solid #0ef;
    box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;
}
.card-form button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: lrem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.mclass{
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    text-align: left;
}

.card-no, .card-name, .card-cord, .card-kigen, .card-kigen2{
    background-color: #18191F;
    color: #fff;
}

.card-no{
    margin-left: 80px;
}

.card-cord{
    margin-left: 20px;
}
.card-name{
    margin-left: 80px;
}

.card-kigen{
    margin-left: 95px;
}

.card-button{
    background-color: red;
    color: #fff;
}

.p-color p{
    color: #fff;
}

.top{
    margin-top: 40px;
}

.card-form > button:hover{
    background: #10449A;
}

@media (width >= 500PX){
    body{
        padding: 0;
    }
    .card-card{
        margin: 0;
        width: 600px;
        height: 500px;
    }
}