/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*全画面背景*/
body {
    text-align: center;
    background: #18191f;
   
}



/*ーーーーーーーーーーーーーーーーヘッターーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.back {
    font-size: 50px;
    font-family: "Brawler";
    color: #fff;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

.header_back{
        background-color: #000000;
	    padding: 35px;
}

.logo_link{
    text-decoration: none;
    color: #fff;
    /*text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 50px #0072ff, 0 0 200px #0072ff;*/
}










/* ---------------------------ハンバーガーメニューのスタイル------------------------------------------- */
.menu-toggle {
    position: absolute;
    top: 45px;
    left: 60px;
    cursor: pointer;
    z-index: 9999; /* メニューが他の要素より上に表示されるように */
}


/*ハンバーガーマーク*/
.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* ハンバーガーメニューのスタイル */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #333;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 9998;
    align-items: center;
    transform: translateX(-100%); /* デフォルトでメニューを非表示にする */
    transition: transform 0.5s ease-in-out; /* スライドイン・アウトのアニメーション */
    background-color: rgba(33, 4, 4, 0.562);
}

nav ul {
    list-style-type: none;
    margin-top: 100px;
}

nav ul li {
    margin: 50px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}

/*↓これ追加*/
.nenu-link:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.nenu-link{
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
/*☝追加*/

/* メニューが表示される時*/
nav:not(.hidden) {
    transform: translateX(0); /* メニューを表示 */
}

/* ユーザー情報表示用テスト */
.user-info{
    color: white;
    right: 60px;
}