.car-logo,
.car-logo2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px 0;
}

.car-logo input[type="image"],
.car-logo2 input[type="image"] {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.car-logo-item {
    width: 180px; /* 背景の幅 */
    height: 180px; /* 背景の高さ */
    background-color: #1c1c1c; /* 背景色を黒基調に */
    border-radius: 10px; /* 角丸 */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.car-logo-item:hover {
    transform: scale(1.05); /* ホバー時に少し拡大 */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 1);
}

.car-logo-back{
    margin-top: 100px;
    margin-bottom: 100px;
}
