@charset "utf-8";
/*☟☟ログイン失敗時のCSS*/
.error-message{
    color: #fff;
    font-size: 20px;
}

.error-back{
    place-items: center;
    margin-top: 12vh;
}

.error-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background-color: rgba(33, 4, 4, 0.562);
    text-align: center;
    border: 5px solid #333;
}

.error-card:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

@media (width >= 500PX){
    .error-card{
        margin: 0;
        width: 400px;
        height: 300px;
    }
}

/*☝☝ログイン失敗時のCSSここまで*/

.car-log {
    
}

.car-logo img{
    width: 100px;
    height: auto;
}