.edit_image-checkbox img {
    width: 150px;
    height: auto;
    border: 2px solid transparent; /* デフォルトは透明 */
    cursor: pointer;
    transition: border-color 0.2s;
}

.edit_image-checkbox input[type="checkbox"]:checked + img {
    border-color: #007BFF; /* 選択された時の枠色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}