/*ブランドのラジオボタンの幅*/
.radio-images {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
/* ブランドのラジオボタンを非表示にする */
.radio-images input[type="radio"] {
    display: none;
  }

  .radio-images label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }

  /* ブランドの選択時の画像に枠を追加する */
  .radio-images input[type="radio"]:checked + img {
    border: 2px solid #007bff;
    border-radius: 4px;
  }

  /* 画像のサイズ調整 */
  .radio-images img {
    width: 80px; /* 必要に応じてサイズを調整 */
    height: auto;
  }

  /*カラーラジオボタンのスタイル変更*/
  .label {
    display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f0f0f0;
            cursor: pointer;
            text-align: center;
  }

  .label .black{

  }

 /* 選択されているボタンのスタイル */
  input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}