.back {
    font-size: 50px;
    font-family: "Brawler";
    color: #fff;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

.header_back {
    background-color: #000000;
    padding: 35px;
}

.logo_link {
    text-decoration: none;
    color: #fff;
    /*text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 50px #0072ff, 0 0 200px #0072ff;*/
}



/* ログアウトボタンの親要素を右端に移動 */
.hidden {
    position: absolute;
    top: 54%; /* 縦中央揃え */
    right: 50px; /* 右端に配置 */
    transform: translateY(-50%); /* 縦位置を正確に調整 */
}


.hidden:hover{
    opacity: 0.8;
}
