/*ブランドのチェックボックスの幅*/
.radio-images {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
/* ブランドのチェックボックスを非表示にする */
.radio-images input[type="rajio"] {
    display: none;
  }

  .radio-images label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }

  /* ブランドのチェック時の画像に枠を追加する */
  .radio-images input[type="rajio"]:checked + img {
    border: 2px solid #007bff;
    border-radius: 4px;
  }

  /* 画像のサイズ調整 */
  .radio-images img {
    width: 80px; /* 必要に応じてサイズを調整 */
    height: auto;
  }