.back {
    font-size: 30px;
    font-family: "Georgia";
    background-color: #000000;
    color: #fff;
    padding: 1px;
    text-align: center;
}
.logo_link{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 50px #0072ff, 0 0 200px #0072ff;

}